@model AlisverisProje.Models.Detail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetailName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetailName)
        </dd>
        <dt class="col-sm-2">
            Detay Resim
        </dt>

        <dd class="col-sm-10">
            <img src="@Model.ImageUrl" class="img-fluid" style="width:50px; height:auto;" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DetailText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DetailText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.UrunAd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
