@model IEnumerable<AlisverisProje.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Kategori Ekleme Sayfası </h1>

<p>
    <a asp-action="Create">Kategori Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KategoriAd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KategoriAd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Kategori Güncelle</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Kategori Detaylarını Gör </a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Kategori Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
